<!-- The ARS Realm -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The personal website of It'sYourARZ showcasing projects, about me, and contact details.">
  <meta name="author" content="It'sYourARZ">
  <meta name="theme-color" content="#00bcd4">
  <title>The ARS Realm - News Webpage</title>

  <!-- Font Styles -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
  <!-- Local Styles -->
  <link rel="stylesheet" href="./components/css/index.css"/>
  <link rel="stylesheet" href="./components/css/footer.css"/>
  <link rel="stylesheet" href="./components/css/background.css"/>
  <link rel="stylesheet" href="./components/css/news.css"/>

  <!-- External Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/theme/dracula.min.css">
  
  <!-- External Javascripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/xml/xml.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/javascript/javascript.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/css/css.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/htmlmixed/htmlmixed.min.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>



  <link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./icons/favicon-16x16.png">
  <link rel="manifest" href=".icons/site.webmanifest">

  <style>
    .designer-text{
      font-family: 'Edu AU VIC WA NT Pre', sans-serif;
      color: #661276;
      font-weight: 700;
      font-size: 1.2em;
    }

    .a-tag {
      font-family: 'Edu AU VIC WA NT Pre', sans-serif;
      color: #af86b8;
      font-weight: 700;
      font-size: 1.2em;
    }

    .news { background: rgb(61, 0, 147); padding: 15px; margin-bottom: 15px; border-radius: 8px; }

  </style>

  

</head>
<body onload="document.body.style.opacity = 1;">

    <div id="progressBarContainer">
    <div id="progressBar"></div>
  </div>

  <main>
    <div class="section fade-in">
      <h1 id="about-me">Welcome to the News Section of <span class="highlight"><a href="https://anirudh-rajesh.netlify.app" style="font-family: 'Pacifico', cursive; color: #00bcd4; font-size: 1.3em; font-weight: bold;">It'sYourARZ</a></span>  Website</h1>

     <p>Click each tile heading for more information</p>
     <p>A big shout out to Hindustan Times and RSS2JSON.com</p>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Education Related</a></span></h2>
      <div class="hidden-info" id="education">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Entertainments</a></span></h2>
      <div class="hidden-info" id="entertainment">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Modern Lifestyle</a></span></h2>
      <div class="hidden-info" id="lifestyle">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Growing Business</a></span></h2>
      <div class="hidden-info" id="business">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Related to Cricket</a></span></h2>
      <div class="hidden-info" id="cricket">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Latest from the World</a></span></h2>
      <div class="hidden-info" id="world">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Anime Stuff</a></span></h2>
      <div class="hidden-info" id="anime">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">All about exams</a></span></h2>
      <div class="hidden-info" id="competitive-exams">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Music Dramas</a></span></h2>
      <div class="hidden-info" id="music">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Results in Exam</a></span></h2>
      <div class="hidden-info" id="exam-results">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Cool Fashions</a></span></h2>
      <div class="hidden-info" id="fashion">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Modern day Sports</a></span></h2>
      <div class="hidden-info" id="sports">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Growning Technology</a></span></h2>
      <div class="hidden-info" id="technology">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">Maintaining of Health</a></span></h2>
      <div class="hidden-info" id="health">
        <p>Loading news...</p>
      </div>
    </div>

    <div class="section fade-in" aria-labelledby="about-me">
      <h2 id="about"><span class="highme"><a onclick="toggleInfo(this)">All there is in Football</a></span></h2>
      <div class="hidden-info" id="football">
        <p>Loading news...</p>
      </div>
    </div>

  </main>

  <footer>
    <div class="footer-container">
        <main>
          <div class="footer-section" style="background-color:black;">
            <h1><span class="highlight">It'sYourARZ</span></h1>

            <!-- NAVIGATION LINKS -->
            <div class="footer-links">
              <a href="#welcome" class="footer-link">Welcome</a>
              <a href="#projects" class="footer-link">Projects</a>
              <a href="#about" class="footer-link">About</a>
              <a href="#contact" class="footer-link">Contact</a>
            </div>

            
            <!-- SOCIAL MEDIA ICONS -->
            <div class="social-icons">
                <a href="https://open.spotify.com/user/31fqmjj657zn7lrqcb7b22a5y7tu?si=282f0c17898e41eb" target="_blank" class="icon spotify"><i class="fab fa-spotify"></i></a>
                <a href="https://www.instagram.com/__anirudh_rajesh__?igsh=MWhtMDdzaXl0aG5s" target="_blank" class="icon instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://discord.com/invite/YEhUTjdHXk" target="_blank" class="icon discord"><i class="fab fa-discord"></i></a>
                <a href="https://github.com/ItsYourARZ" target="_blank" class="icon github"><i class="fab fa-github"></i></a>
            </div>

            <p class="copyright">© 2025 ThinkARS. All Rights Reserved. | <a href='./components/policy/privacy_policy.html' style="color: #00bcd4;">Privacy Policy</a></p>
          </div>
        </main>
    </div>
    <div class="footer-wave"></div>
    <div id="particles-js"></div>
  </footer>

  <script src="./components/js/index.js"></script>
  <script src="./components/js/rss.js"></script>
  <script src="./components/js/rss2.js"></script>
  <script src="./components/js/footer.js"></script>
</body>
</html>