.audio-player {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.progress-bar-container {
  width: 100%;
  height: 4px;
  background: #8e8c8c;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #2132c9, #4258e8);
  border-radius: 2px;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-top: 2px; /* Closer to the progress bar */
  font-size: 12px;
  color: #aaa;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px; /* Closer to the time display */
}

.controls button {
  background: linear-gradient(to right, #2132c9, #4258e8);
  border: none;
  color: #fff;
  font-size: 22px;
  padding: 15px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.controls button:hover {
  transform: scale(1);
  background: linear-gradient(to right, #4258e8, #2132c9);
}

.controls button:active {
  transform: scale(1);
}

.play-pause {
  background: linear-gradient(to right, #4258e8, #2132c9);
  color: #fff;
  font-size: 30px;
}

.play-pause:hover {
  background: linear-gradient(to right, #4258e8, #2132c9);
}

.play-pause:active {
  background: linear-gradient(to right, #4258e8, #2132c9);
  transform: scale(1);
}