
.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: #000000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.wrapper.hide {
  display: none;
}

.wrapper img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.wrapper img:hover {
  transform: scale(1.1);
}

.content {
  flex: 1;
}

header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

p.cookies {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 15px;
}

button.item {
  padding: 5px 12px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

button.item:hover {
  background-color: #5748d3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button.item:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.5);
}

.buttons a.item {
  color: #6c63ff;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.buttons a.item:hover {
  color: #5748d3;
}


@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    padding: 15px 10px;
  }

  .wrapper img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .content {
    margin-bottom: 10px;
  }

  p {
    font-size: 11px;
  }

  .buttons {
    justify-content: center;
    gap: 0;
  }

  button.item {
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 11px;
  }

  .buttons a.item {
    display: block;
    margin-top: 5px;
    font-size: 11px;
  }
}

.cookies {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
