.form-container {
    background: rgba(15, 15, 27, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(157, 78, 221, 0.7);
    text-align: center;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input, 
.input-box textarea {
    width: 100%;
    padding: 15px;
    border: none;
    height: 25px;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in-out;
    
    font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.input-box label {
    position: absolute;
    left: 0;
    top: -4px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in-out;
}

.input-box input:focus ~ label, 
.input-box input:valid ~ label,
.input-box textarea:focus ~ label, 
.input-box textarea:valid ~ label {
    top: -15px;
    font-size: 0.8rem;
    color: #9d4edd;
}

.input-box input:focus, 
.input-box textarea:focus {
    border-bottom: 2px solid #9d4edd;
}


.input-box textarea {
    height: 100px;
    resize: none;
}
